.default-sidebar
  / Begin Side Navbar
  %nav.side-navbar.box-scroll.sidebar-scroll
    / Begin Main Navigation
    %ul.list-unstyled
      %li
        %a{:href => github_issues_path}
          %i.la.la-github-square
          %span Github Issues
    / End Main Navigation
  / End Side Navbar
/ End Left Sidebar