<div class="default-sidebar">
  <!-- Begin Side Navbar -->
  <nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
      <li>
          <a href="<%= github_issues_path %>">
            <i class="la la-book"></i>
            <span>Github Issues</span>
          </a>
      </li>
    </ul>
    <!-- End Main Navigation -->
  </nav>
  <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->
