<%= render 'form', github_issue: @github_issue %>

<div class="btn-new">
  <a href="<%= github_issue_path(@github_issue) %>" class="btn btn-primary mr-1 mb-2"  >
    <span class="fd-btn">Show</span>
  </a>
</div>

<div class="btn-new">
  <a href="<%= github_issues_path %>" class="btn btn-primary mr-1 mb-2"  >
    <span class="fd-btn">Back</span>
  </a>
</div>
