= render 'form', github_issue: @github_issue
.btn-new
  %a.btn.btn-primary.mr-1.mb-2{:href => github_issue_path(@github_issue)}
    %span.fd-btn Show
.btn-new
  %a.btn.btn-primary.mr-1.mb-2{:href => github_issues_path}
    %span.fd-btn Back